{% extends 'layout.html.twig' %}

{% block content %}


    <div class="AddST">
        <a href="/admin/artists">
            <div>
                Add Artist
            </div>
        </a>
        <a href="/admin/albums">
            <div>
              <span> Add Album and Songs </span>
            </div>
        </a>
    </div>



{% endblock %}
