{% extends 'layout.html.twig' %}

{% block content %}

    <div class="convert">
      <div>  <img class="mainphoto" src="/images/24da92f00a159e9233eb06049dfd2b42.jpg" alt="Kpss"></div>
        <div class="mainText"> Slava KPSS</div>
    </div>
{% endblock %}
